.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  width: 100vw;
  height: 100vh;
}

.inputText {
  font-weight: bolder;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 100px;
}

input {
  margin: 5px;
}

input:focus {
  border: 2px solid yellow;
}

button {
  transition: all 0.3s ease-in;
}

button:hover {
  background-color:rgb(251, 243, 243);
}

.goods {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}

.boxItem {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgb(251, 243, 243);
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.itemName {
  background-color: rgb(202, 201, 201);
  font-weight: bolder;
  font-style: italic;
}

.itemPrice {
  font-weight: bold;
  color: rgb(238, 104, 104);
}

.itemDescription {
  font-weight: lighter;
  font-style: italic;
  font-size: smaller;
}

img {
  height: 350px;
  width: 80%;
}